@model LineNotify.Models.Examiners

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Examiners</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.date).ToString("yyyy/MM/dd")
        </dd>

    </dl>
    <hr />
    <p>開單資訊</p>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Orders.patient_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.patient_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orders.doctor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.doctor_name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

