@model IEnumerable<LineNotify.Models.Examiners>

@{
    ViewBag.Title = "Examiners.Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .d1 {
        position: relative;
        left: 1000px;
        top: 0px;
    }
</style>

<h2>檢驗報告</h2>

<p>
    @Html.ActionLink("輸入檢驗值", "Create", "Examiners", new { @class = "d1" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.test_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.patient_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.test_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.test_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.patient_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
                @Html.ActionLink("開啟電子病歷", "Report", new
                {
                    id = item.id,
                    ap = item.Orders.patient_id,
                    bp = item.Orders.patient_name,
                    cp = item.Orders.gender,
                    dp = item.Orders.test_id,
                    ep = item.Orders.test_name,
                    fp = item.Orders.date.ToString("yyyy/MM/dd"),
                    gp = item.Orders.doctor_name,
                    hp = item.Orders.birth_date.ToString("yyyy/MM/dd"),
                    ip = item.Orders.blood,
                    jp = item.Orders.diagnosis,
                    kp = item.test_value,
                    lp = item.date.ToString("yyyy/MM/dd"),
                    mp = item.test_name,
                    zp = item.Orders.id_card
                })
            </td>
        </tr>
    }

</table>
